.header{
    grid-area: hd;
    z-index: 10;
}
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #3b3333;
    margin-bottom: 20px;
}
.nav-top{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.fa-bars{
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.nav-top img{
    margin-left: 80px;
    margin-top: 10px;
}
.nav-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    margin: 0px;
    justify-content: flex-start;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;   
}
.nav-list{
    width: 100%;
    color: aliceblue;
    background-color: #3b3333;
}
.nav-list li a {
    font-size: 1.1em;
    color: inherit;
    width: 100%;
    text-decoration: none;
    font-family: inherit;
    text-transform: inherit;
    justify-content: inherit;
    line-height: 30px;
}
.nav-list li:hover{
    background-color: aliceblue;
    width: 100%;
    cursor: pointer;
    color: #3b3333;
}