*{
    box-sizing: border-box;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.inner{
    display: grid;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 1;
    grid-template-columns: 100vw;
    grid-template-rows: 80px 1000px ;
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    "hed"
    "tab";
}
.heead{
    grid-area: hed;
    display: flex;
}
.tabl-inr{
    grid-area: tab;
    display: block;
    background-color: rgba(199, 196, 196, 0.055);
    padding: 25px;
    border-top: 1px solid rgba(199, 196, 196, 0.295); 
}
.heead a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 10px;
    word-spacing: 20px;
    color: brown;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.tabl-b{
    display: grid;
    width: 90vw;
    height: 98%;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr ;
    grid-template-areas: 
    "sgn"
    "tab";
    border: 1px solid rgba(82, 81, 81, 0.178);
    padding: 20px;
    font-size: 20px;
    z-index: 2;
}
.sign{
    grid-area: sgn;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    justify-content: space-between;
   
}
#sin-up, #sin-in{
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.048);
    border-radius: 5px;
    outline: none;
    padding-top: 5px;
    display: block;
}

#sin-up button, #sin-in button{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(59, 59, 59);
    border: none;
    text-transform: uppercase;
}
.tab-main h1 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.tab-main{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}
.sign-with{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sign-with i{
    font-size: 1.6em;
    margin-top: 10px;
    padding: 5px;
}
.with-gog ,.with-fc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.048);
    border-radius: 5px;
    margin: 3px;
    outline: none;
}
.with-gog i{
    color: brown;
}
.with-fc i{
    color: rgb(66, 66, 206);
}
.devided{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}
.first-dv, .second-dv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    width: 46.5%;
}
.middle-dv{
    display: inline-flex;
    margin-bottom: -5px;
    padding-left: 2px;
    text-align: center;
    width: 6%;
}
.adres-pas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.adres-pas input{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.048);
}
.privacy{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

.privacy input{
    font-size: 50px;
}
.privacy p::first-letter{

    text-transform: capitalize;
}
.privacy p{
    margin-top: 2px;
    margin-left: 10px;
}
.privacy a{
    text-decoration: none;
    color: rgb(11, 116, 177);
}
.buttom-dv{
    display: flex;
    flex-direction: column;
}
.buttom-dv button{
    width: 30%;
    padding: 10px;
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.048);
    outline: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;

}
.buttom-dv button:hover{
    background-color: orange;
    color: white;
}
.buttom-dv a{
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .tabl-b{
        width: 50vw;
    }
}
@media screen and (min-width: 1024px) {
    .tabl-b{
        width: 35vw;
    }
}
@media screen and (min-width: 1200px){
    .tabl-b{
        width: 30vw;
        margin: 0;
        padding: 0;
    }
}